*{
	box-sizing: border-box;
}
.clearFix{
	clear: both;
	margin:0;
	padding:0;
}
html, body{
	font-size: 12px;
	font-family: Calibri;
	margin: 0px;
}
#mainWraper{
	width: 100%;
	height: auto;
}
#header{
	width: 100%;
	height: 620;
}
.firstHeader{
	width: 100%;
	height: 25px;
	background-color: #115c9b;
}
.firstIcon{
	position: absolute;
	left: 60px;
	padding: 4px;
}
.secondIcon{
	position: absolute;
	right: 60px;
	padding: 4px;
}
.firstIcon i{
	color: white;
	margin-left: 40px;
}
.firstIcon i:first-child{
	margin-left: 0px;
}
.firstIcon span{
	color: white;
	margin-left: 4px;
}
.secondIcon i{
	color: white;
	margin-right: 4px;
}
.secondHeader{
	width: 100%;
	height: 70px;
	background-color: #1f76bd;
}
.logo{
	width: 100px;
	height: 70px;
	margin-left: 70px;
	float: left;
}
.logo img{
	width: 80px;
	margin-top: 20px;
}
.menu{
	float: right;
	margin-right: 70px;
	width: 500px;
	height: 70px;
}
.menu ul li{
	display: inline-block;
	margin-top: 15px;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 1.8em;
	padding: 14px 10px;
}
.menu ul li a:hover{
	border-bottom: 2px solid white;
}
.thirdHeader{
	width: 100%;
	height: 525px;
	background: url(../images/slider/home-slider-1.jpg);
	background-size: cover;
	padding: 10px 0px;
}
.thirdHeader h1{
	color: white;
	font-weight: bold;
	font-size: 3.5em;
	text-transform: uppercase;
	text-align: center; 
	padding-top: 140px;
	margin-bottom: 0px;
}
.thirdHeader h3{
	color: white;
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
}
.BTN{
	width: 150px;
	height: 40px;
	background-color: white;
	margin: 0 auto;
}
.BTN a{
	color: #1f76bd;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 1.6em;
	font-weight: bold;
	padding: 5px 15px;
}
#content{
	width: 100%;
	height: auto;
}
.firstContent{
	padding-right: 50px;
	padding-left: 50px;
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.innerFour{
	width: 23%;
	margin-left: 20px;
	margin-top: 0px;
	height: auto;
	display: inline-block;
	background-color: #128ef5;
	text-align: center;
	color: white;
	font-size: 1.1em;
	padding: 20px;
}
.innerFour img{
	width: 78px;
	height: 78px;
}
.innerFour h1{
	text-align: center;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
}
.BTN2{
	width: 150px;
	height: 40px;
	background-color: #115c9b;
	margin: 0 auto;
}
.BTN2 a{
	color: white;
	text-decoration: none;
	line-height: 40px;
	font-size: 1.6em;
	padding: 5px 15px;
}
.secondContent{
	width: 100%;
	height: auto;
	padding-right: 27px;
	padding-left: 50px;
}
.innerTwo{
	margin-top: 20px;
	margin-left: 20px;
	height: 650px;
	width: 47%;
	margin-right: 0px;
	display: inline-block;
}
.bgUrl{
	background: url(../images/reasons/foto1.jpg);
	background-size: cover;
}
.bgUrl2{
	background: url(../images/reasons/foto2.jpg);
	background-size: cover;
}
.secondContent div div{
	width: 100%;
	height: 150px;
	background-color: #1f76bd;
	opacity: .8;
	margin-top: 500px;
}
.secondContent div div h1{
	margin: 0px;
	padding-top: 50px;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
.secondContent div div h3{
	margin: 0px;
	padding-top: 10px;
	color: white;
	font-size: 1.3em;
	text-transform: uppercase;
	text-align: center;
}
.thirdContent{
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding-right: 27px;
	padding-left: 70px;
}
.littleFour{
	width: 23%;
	margin-right: 20px;
	height: auto;
	border: 1px solid #1f76bd;
	display: inline-block;
}
.littleFour img{
	width: 100%;
	padding-bottom: 15px;
}
.littleFour div{
	margin: 0px auto;
	width: 220px;
	height: 20px;
	background-color: #f5f5f5;
	border: 1px solid #1f76bd;
	border-radius: 3px;
}
.littleFour div div{
	width: 70px;
	height: 19px;
	background-color: #1f76bd;
	color: white;
	line-height: 19px;
	font-weight: bold;
	margin: 0px;
	padding: 0px 5px;
	border-radius: 3px 0px 0px 3px;
}
.thirdContent div:nth-child(2) div div, .thirdContent div:last-child div div{
	width: 130px;
}
.thirdContent div:nth-child(3) div div{
	width: 100px;
}
.littleFour h1{
	text-align: center;
	color: #1f76bd;
	font-size: 1.5em;
	text-transform: uppercase;
}
.littleFour p{
	color: #1f76bd;
	padding: 0px 15px;
	font-size: 1.2em;
	margin-bottom: 30px;
}
.littleFour .BTN3{
	width: 150px;
	height: 40px;
	background-color: #115c9b;
	margin: 0 auto;
	border-radius: 0px;
	margin-bottom: 20px;
}
.littleFour .BTN3 a{
	color: white;
	text-decoration: none;
	line-height: 40px;
	font-size: 1.6em;
	padding: 5px 15px;
}
.contentName{
	margin: 0 auto;
	width: 100%;
	height: 80px;
	color: #1f76bd;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	padding-top: 40px;
	font-weight: bold;
}
.hr1{
	width: 300px;
	border: 1px solid #1f76bd;
	margin: 0 auto;
}
.hr2{
	width: 150px;
	border: 1px solid #1f76bd;
	margin: 0 auto;
}
.fourthContent{
	width: 90%;
	height: auto;
	display: inline-block;
	margin-left: 86px;
}
.sprite{
	padding: 70px 0px;
	width: 20px;
}
.sponsor{
	padding: 30px 8px;
}
#footer{
	width: 100%;
	height: auto;
}
.firstFooter, .thirdFooter{
	width: 100%;
	height: 30px;
	background-color: #115c9b;
}
.secondFooter{
	width: 100%;
	height: 400px;
	background-color: #1f76bd;
}
.thirdFooter span{
	color: white;
	position: absolute;
	right: 70px;
	font-size: 1.2em;
	line-height: 30px;
}
