*{
	box-sizing: border-box;
}
.clearFix{
	clear: both;
	margin:0;
	padding:0;
}
html, body{
	font-size: 12px;
	font-family: Calibri;
	margin: 0px;
}
#mainWraper{
	width: 100%;
	height: auto;
}
#header{
	width: 100%;
	height: 620;
}
.firstHeader{
	width: 100%;
	height: 25px;
	background-color: #115c9b;
}
.firstIcon{
	position: absolute;
	left: 60px;
	padding: 4px;
}
.secondIcon{
	position: absolute;
	right: 60px;
	padding: 4px;
}
.firstIcon i{
	color: white;
	margin-left: 40px;
}
.firstIcon i:first-child{
	margin-left: 0px;
}
.firstIcon span{
	color: white;
	margin-left: 4px;
}
.secondIcon i{
	color: white;
	margin-right: 4px;
}
.secondHeader{
	width: 100%;
	height: 70px;
	background-color: #1f76bd;
}
.logo{
	width: 100px;
	height: 70px;
	margin-left: 70px;
	float: left;
}
.logo img{
	width: 80px;
	margin-top: 20px;
}
.menu{
	float: right;
	margin-right: 70px;
	width: 500px;
	height: 70px;
}
.menu ul li{
	display: inline-block;
	margin-top: 15px;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	color: white;
	font-size: 1.8em;
	padding: 14px 10px;
}
.menu ul li a:hover{
	border-bottom: 2px solid white;
}
.thirdHeader{
	width: 100%;
	height: 525px;
	background: url(../images/slider/home-slider-1.jpg);
	background-size: cover;
	padding: 10px 0px;
}
.thirdHeader h1{
	color: white;
	font-weight: bold;
	font-size: 3.5em;
	text-transform: uppercase;
	text-align: center; 
	padding-top: 140px;
	margin-bottom: 0px;
}
.thirdHeader h3{
	color: white;
	font-weight: bold;
	font-size: 1.8em;
	text-transform: uppercase;
	text-align: center;
}
.BTN{
	width: 150px;
	height: 40px;
	background-color: white;
	margin: 0 auto;
}
.BTN a{
	color: #1f76bd;
	text-decoration: none;
	text-transform: uppercase;
	line-height: 40px;
	font-size: 1.6em;
	font-weight: bold;
	padding: 5px 15px;
}


.firstContent{
	padding-right: 50px;
	padding-left: 50px;
	width: 100%;
	height: auto;
	margin-top: 20px;
}
.innerFour{
	width: 23%;
	margin-left: 20px;
	height: auto;
	display: inline-block;
	border: 1px solid black;
	background-color: #128ef5;
	text-align: center;
	color: white;
	font-size: 1.1em;
	padding: 0px 20px;
}
.innerFour img{
	padding-top: 15px;
}
.innerFour h1{
	text-align: center;
	color: white;
	font-size: 2em;
	text-transform: uppercase;
}

.secondContent{
	width: 100%;
	height: auto;
	padding-right: 27px;
	padding-left: 50px;
}

.innerTwo{
	margin-top: 20px;
	margin-left: 20px;
	height: 350px;
	width: 47%;
	margin-right: 0px;
	border: 1px solid black;
	display: inline-block;
}
.thirdContent{
	width: 100%;
	height: auto;
	margin-top: 20px;
	padding-right: 27px;
	padding-left: 70px;
}
.littleFour{
	
	width: 23%;
	margin-right: 20px;
	height: 400px;
	border: 1px solid black;
	display: inline-block;
}